workflows/youtube-watch.json
{
  "name": "YouTube Channel Notification",
  "nodes": [
    {
      "parameters": {
        "url": "={{ 'https://www.youtube.com/feeds/videos.xml?channel_id=' + $json.channelId }}",
        "options": {}
      },
      "id": "6a137afd-1743-4ea8-a13e-0aa1a1152774",
      "name": "Read RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        480,
        -16
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "channelId",
              "value": "UCHnyfMqiRRG1u-2MsSQLbXA"
            }
          ]
        },
        "options": {}
      },
      "id": "aa98b875-3457-47fc-9e7b-329340250f2c",
      "name": "Set Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        256,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "64c4d2c1-acf9-4a17-8996-9796fbd79a17",
      "name": "Check Every 30m",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/v2/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"+16173966428\",\n  \"recipients\": [\"+16173966428\"],\n  \"message\": \"New video from {{ $json.author }}: {{ $json.title }} {{ $json.link }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        -16
      ],
      "id": "20b6bef4-9faf-4b93-b39d-1f488d6717ae",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Read RSS": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Channel": {
      "main": [
        [
          {
            "node": "Read RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every 30m": {
      "main": [
        [
          {
            "node": "Set Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26dfa463-0aad-4c24-9f34-ff95ae47a1d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61aad32bad2e19d6ac9926f773c0c561df5db1c251ab08083817331201a35ddc"
  },
  "id": "XRqp0ghHd2CX822C",
  "tags": []
}
